<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<title>{% block title %}{% endblock %}</title> 

<body>
    <h1> STOCK NEWS </h1>
    <ul> 
        <li><a href=https://stocks-news-nse.herokuapp.com/index style="text-decoration: none; color: red; font-weight: 1000;">RECENT</a></li> 
        <li><a href=https://stocks-news-nse.herokuapp.com/index1 style="text-decoration: none; color: blue; font-weight: 1000;">ALLNEWS</a></li> 
        <li><a href=https://stocks-news-nse.herokuapp.com/niftyindices style="text-decoration: none; color: green; font-weight: 1000;">ALL SECTOR STOCK VIEW</a></li> 
        <li><a href=https://stocks-news-nse.herokuapp.com/change style="text-decoration: none; color: rgb(187, 180, 79); font-weight: 1000;">Change</a></li> 
        <li><a href=https://stocks-news-nse.herokuapp.com/mfchange style="text-decoration: none; color: rgb(74, 205, 223); font-weight: 1000;">MF Change</a></li> 
        <li><a href=https://stocks-news-nse.herokuapp.com//stockchange style="text-decoration: none; color: rgb(83, 44, 221); font-weight: 1000;">Stock Change</a></li>
        <li><a href=https://stocks-news-nse.herokuapp.com/custom/analysis/HINDUNILVR/1y/1mo style="text-decoration: none; color: rgb(195, 183, 240); font-weight: 1000;">HINDUNILVR/1y/1mo</a></li>
    </ul> 

    </html>